{% extends 'base.html.twig' %}

{% block title %}Mot de passe Oublié...{% endblock %}

{% block body %}


<div class="container">

    <div class="row mt-5">
        <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                    <div class="bg-light py-3 px-3">
                        <H2 class="">Mot de passe oublié ?</H2>
                        <p class="">Saissez votre adresse mail, pour la ré-initialisation de vote mot de passe.</p>
                        {{form (emailForm) }}
                        
                    </div>
                </div>
        </div>
    </div>

</div>


{% endblock %}
