<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="{{asset ('css/pdf.css') }}" type="text/css" rel="stylesheet">   
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
    
</body>
</html>