{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}



<div class="container mb-12"> 
<h3>Soumettez votre CR pour avis</h3>


{{form (MailerForm)}}





</div>
{% endblock %}
