{% extends 'base.html.twig' %}

{% block title %}Validation !{% endblock %}

{% block body %}

<div class="container">
    <div class="row">   
        {{form_start (form) }}
            {{form_widget (form) }}
            <button type="submit" class="btn btn-success">Envoyez!</button>
        {{form_end (form) }}
    </div>
</div>


   
{% endblock %}
